<h1>Login:</h1>

<%= form_for(:sessions, url: session_create_path) do |f| %>



  <div>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: "Enter email", autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.email_field :password, placeholder: "Enter  pass", autofocus: true, type:"password"%>
  </div>
  <div>
    <%= f.submit "log in" %>
  </div>



<% end %>

  <%= link_to 'Back', root_path %>
