<p id="notice"><%= notice %></p>

<h1><%= @comments.first.restaurant.title %> Comments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Score</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.text %></td>
        <td><%= comment.score %></td>
        <td><%= comment.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', restaurants_path %>
