<p id="notice"><%= notice %></p>
  <div class="row" style="padding-top:15px;margin-bottom:-30px">
    <div class="col s12 m6" style="width:350px; ">
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title">Porfile:</span>
          <div style="padding-top:15px">
            <div class="">

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<br>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>


  <br>
  <div class="">
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
