<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<form>
<input placeholder="Buscar" id="busar" type="text" class="" name="buscar" <%= @buscar %>>
</form>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Address</th>
      <th>Telephone</th>
      <th>Average score</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>

    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.title %></td>
        <td><%= restaurant.description %></td>
        <td><%= restaurant.user.username %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.telephone %></td>
        <td><%= restaurant.score %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Comments', comment_review_url(restaurant.id) %> </td>
        <% if logged? %>
          <% if current_user.id==restaurant.user.id || current_user.admin==true %>
            <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
            <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if logged? %>
<%= link_to 'New Restaurant', new_restaurant_path %>
<% else %>
<% end %>
