<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>
<% if logged? %>
  <%= link_to 'New Comment', new_comment_path %> |
  <% if current_user.id==@restaurant.user.id %>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <% end %>
<% end %>
  <%= link_to 'Back', restaurants_path %>
